page-main {

}
.mainBg {
    background: url('../assets/img/bg.png');
}

.calcTypeBoxes{
    background-color:  #FFD41D;
    height: 200px;
    margin-left: 8%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-top: 2%;
}

@media screen and (max-height: 850px) {
    .calcTypeBoxes{
        background-color:  #FFD41D;
        height: 200px;
        margin-left: 8%;
        margin-top: 8%;
        margin-bottom: 8%;
        padding-top: 2%;
    }
}

@media screen and (max-height: 700px) {
    .calcTypeBoxes{
        background-color:  #FFD41D;
        height: 174px;
        margin-left: 8%;
        margin-top: 8%;
        margin-bottom: 8%;
        padding-top: 2%;
    }
}

@media screen and (max-height: 640px) {
    .calcTypeBoxes{
        background-color:  #FFD41D;
        height: 160px;
        margin-left: 8%;
        margin-top: 8%;
        margin-bottom: 8%;
        padding-top: 2%;
    }
}


