page-main {

}
.mainBg {
    background: url('../assets/img/bg.png');
}

.calcTypeBoxes{
    background-color:  #FFD41D;
    height: 28vh;
    margin-left: 8%;
    margin-top: 8%;
    margin-bottom: 8%;
    padding-top: 2%;
}