.home {
    background: url('../assets/img/bg.jpg') no-repeat center;
}

.main {
    background: url('../assets/img/bg.jpg') no-repeat center;
}

.passField{
    margin-top: 20%;
}

.mainGridHomePage{
    margin-top: 30%;
}