// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #FFD41D,
  secondary:  #020303,
  danger:     #f53d3d,
  medium:     #d8d2d2,
  light:      #f4f4f4,
  dark:       black,
);

$BOTTOM_COLOR : #FFD41D;
$TOP_COLOR: #F2ED82;
$BOTTOM_COLOR_DARK : black;
$TOP_COLOR_DARK: #524F4B;

.buttonPrimary {
    background: $BOTTOM_COLOR; /* For browsers that do not support gradients */
    border-radius: 0px !important;
    font-size: 14px !important;
}

.buttonSecondary {
  background-color: black; /* For browsers that do not support gradients */
  font-weight: bolder;
  border: 1px outset black;
  border-radius: 0px !important;
  font-size: 14px !important;
  color: #FFD41D !important;
}

.selectOpt {
  background: black;
  font-weight: bolder;
  border-radius: 0px !important;
  font-size: 14px !important;
  color: $BOTTOM_COLOR !important;
}

.objectsCalcPage {
 padding-top: 0px !important; 
 padding-bottom:0px !important;
 margin-top: 0px;
 margin-right: -10px !important;
}

.objectsCalcPage2 {
 padding-top: 0px !important; 
 padding-bottom:0px !important;
 margin-top: 3px !important;
}

#calculate {
  margin-top: 4%;
}

span.button-inner {
  padding-top: 0px !important;
}

.backImg {
  background-color: black/*url('../assets/img/bg.png') no-repeat center;*/
}

.inputLabels {
  background: white !important;
  font-weight: bolder;
  border-radius: 0px !important;
  height:40px;
  padding-top: 10px;
  font-size: 15px;
  color: black !important;
  padding-left: 20px !important;
}

.inputValuesResults {
  background: black; /* For browsers that do not support gradients */
  font-weight: bolder;
  border-radius: 0px !important;
  height:40px;
  padding-top: 10px;
  font-size: 12px;
  color: $BOTTOM_COLOR;
  color: white !important;

}

.inputValues {
  background-color: black;
  color: white !important;
  height:40px;
  margin-top: 14px;
  padding-bottom: 20px !important;
  text-align: center;
  font-size: 12px;
}

.inputValuesAuto {
  background-color: black;
  color: white !important;
  height:40px;
  margin-top: 2px;
  padding-bottom: 20px !important;
  text-align: center;
  font-size: 14px;
}

.customMenuToolbar {
  min-height: 100px !important;
  text-align: left !important;
}

.scroll-content {
    overflow-y: auto !important;
}

.item.item-input {
  background-color: rgba(0,0,0,.5);
  color: white !important;

}

.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}

.squareBackground {
  background: #222;
  margin-top: -5px;
  
}

.rowsForFields {
  margin-left: 9%; 
  margin-top: -20px !important;
}

.mail {
    font-size: 20px !important;
    margin-right: 2% !important;
}

.alert-wrapper {
  max-width: 100% !important;
  background-color: #222 !important;
  .alert-radio-label {
    color: white !important;
  }

  [aria-checked=true] .alert-radio-label {
      color: #FFD41D !important;
  }
}




// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
