// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #FFD41D,
  secondary:  #020303,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
);

$BOTTOM_COLOR : #FFD41D;
$TOP_COLOR: #F2ED82;

.buttonPrimary {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($TOP_COLOR, $BOTTOM_COLOR); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($TOP_COLOR, $BOTTOM_COLOR); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($TOP_COLOR, $BOTTOM_COLOR); /* For Firefox 3.6 to 15 */
    background: linear-gradient($TOP_COLOR, $BOTTOM_COLOR); /* Standard syntax */
    font-weight: bolder;
    border: 2px outset black;
    border-radius: 0px !important;
    font-size: 30px !important;
}

span.button-inner{
  padding-top: 0px !important;
}

.backImg {
  background: url('../assets/img/bg.jpg') no-repeat center;
}

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
