


#standardButton{
    margin-top: 5vh;
}

.labelTitles{
    margin-top: 5vh; 
    font-weight: bolder;
    font-size: 24px;
    color: white;
}

.typesBg {
    background: url('../assets/img/bg.png');
}

.mainGridMeasureTypePage {
    margin-top: 35%;
}