.nextButton {
  width: 25%; margin-left:70%; margin-top: 70%; float:right; background-color: black; /* For browsers that do not support gradients */
  font-weight: bolder;
  border: 1px outset black;
  border-radius: 0px !important;
  font-size: 14px !important;
  color: #FFD41D !important;
}